<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batalha</title>
    <link rel="stylesheet" href="../styles/sty_gameBattle.css">
</head>
<body>
    <div id="board">
        <img id="arena" src="../imgs/background.webp" alt="">
        <div id="curPlayer">
            <h2 class="playerName">Jogador 1</h2>
            <div id="cards">
                <div id="card1"><img src="tps://i.pinimg.com/736x/27/6a/de/276ade15864711a2af08857b8141a53e.jpg" alt=""></div>
                <div id="item1"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpNULM69V87ErQOpVZfeddsFpMophuDE5HVg&s" alt=""></div>
            </div>
        </div>
    </div>
</body>
</html>