<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batalha</title>
    <link rel="stylesheet" href="../styles/sty_gameBattle.css">
</head>
<body>
    <div id="board">
        <div id="players">
            <div id="playersTop">
                <div class="player" id="player1">Player 1</div>
                <div class="player" id="player2">Player 2</div>
            </div>
            <div id="playersBottom">
                <div class="player" id="player3">Player 3</div>
                <div class="player" id="player4">Player 4</div>
            </div>
        </div>
        <div id="arena">
            <img id="backgroundArena" src="../imgs/backgroundArena.png" alt="">

            <div class="cardsInBattle" id="cardPlayer3"><img class="imgItem" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpNULM69V87ErQOpVZfeddsFpMophuDE5HVg&s" alt=""></div>
            <div class="cardsInBattle" id="cardPlayer2"><img class="imgItem" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpNULM69V87ErQOpVZfeddsFpMophuDE5HVg&s" alt=""></div>
            <div class="cardsInBattle" id="cardPlayer4"><img class="imgItem" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpNULM69V87ErQOpVZfeddsFpMophuDE5HVg&s" alt=""></div>
            <div class="cardsInBattle" id="cardPlayer1"><img class="imgItem" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpNULM69V87ErQOpVZfeddsFpMophuDE5HVg&s" alt=""></div>
        </div>
        <div class="status">
            <div class="itensSlots">
                <div class="item equiped"><img class="ill" src="../imgs/itemIcon.png" alt=""></div>
                <div class="item take"><img class="ill" src="../imgs/itemIcon.png" alt=""></div>
            </div>
            <div id="curPlayer">
                <h2 class="playerName">Player 1</h2>
                <div class="cards">
                    <div class="card">1<img class="imgItem" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpNULM69V87ErQOpVZfeddsFpMophuDE5HVg&s" alt=""></div>
                    <div class="card">Slot 2</div>
                    <div class="card">Slot 3</div>
                    <div class="card">Slot 4</div>
                    <div class="card">Slot 5</div>
                    <div class="card">Slot 6</div>
            
                    <!--<div class="item1"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpNULM69V87ErQOpVZfeddsFpMophuDE5HVg&s" alt=""></div>-->
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/scr_jogadores.js"></script>
</body>
</html>