<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/sty_giveCards.css">
</head>
<body>
    <div id="addPokemons">
        <h1>Dar as cartas</h1>
        
        <div id="playersCards">
            <!--
            <div class="player" id="playerRed">
                <h2 id="tit_curPlayer">Jogador: </h2>
                
                <h3>Pokédex:</h3>
                <div class="pokedex" id="pokedexRed"></div>

                <h3>Itens</h3>
                <div class="invetory" id="invenoryRed"></div>
                <button class="btn_addItem">Adicionar Item</button>
                

                <p>Adicionar pokemon</p>
                <button class="btn_addPokemon">+</button>
            </div>

            <div class="player" id="playerWhite">
                <h2 id="tit_curPlayer">Jogador: </h2>
                <h3>Pokédex:</h3>
                <div class="pokedex" id="pokedexWhite"></div>
                <p>Adicionar pokemon</p>
                <button class="btn_addPokemon">+</button>
            </div>

            <div class="player" id="playerBlue">
                <h2 id="tit_curPlayer">Jogador: </h2>
                <h3>Pokédex:</h3>
                <div class="pokedex" id="pokedexBlue"></div>
                <p>Adicionar pokemon</p>
                <button class="btn_addPokemon">+</button>
            </div>

            <div class="player" id="playerYellow">
                <h2 id="tit_curPlayer">Jogador: </h2>
                <h3>Pokédex:</h3>
                <div class="pokedex" id="pokedexYellow"></div>
                <p>Adicionar pokemon</p>
                <button class="btn_addPokemon">+</button>
            </div>
        </div>
        -->

    </div>
    <button id="battle">Batalhar</button>
    <script type="module" src="../scripts/scr_giveCards.js"></script>
</body>
</html>